.menu {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #dbdbdb;
    height: 100vh;
    z-index: 1;
    background: white;
    
    &__points {
        margin: 0;
        color: #777573;
        margin-top: 23px;
        min-width: 50px;       
    }

    &__points-wrap {
        margin-top: -5px;
    }

    &__points-disabled {
        display: none;
    }

    &__collapse {
        display: flex;
        width: 127px;
        margin-top: 17px;
        transition: width 0.3s;        
    }
    &__icons-wrap {
        width: 37px;
    }

    &__collapse-collapsed {
        width: 20px;        
    }

    &__scaled {
        transform: scaleX(-1);
    }

    &__collapse-button {
        float: right;
        margin: 3px;        
        transition: transform 0.1s;
        &:hover {
            cursor: pointer;
        }
    }

    &__icon-wrapper-collapsed {
        border-right: 2px solid #e98036;
        width: 133px;
        text-align: left;
        padding: 15px 1px 0 11px;
        height: 25px;
        margin-top: 3px;
        
    }
    
    &__icon-wrapper:nth-child(1) {
        border-right: 2px solid #e98036;
        width: 30px;
    }

    

    &__icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 13px 6px 0px 6px;
        padding: 1px;
        width: 28px;
        height: 26px;
    }
}
.MuiButton-containedPrimary {
    width: 170px;
}